/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #fff;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    box-sizing: content-box;
}

.c100.center {
    float: none;
    margin: 0 auto;
}

.c100.big {
    font-size: 240px;
}

.c100.small {
    font-size: 80px;
}

.c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: ' ';
    border-radius: 50%;
    /* background-color: #fff; */
    box-shadow: inset 0px 0px 10px #666666;
    width: 0.84em;
    height: 0.84em;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background: url(./assets/images/green-gradient.jpg) repeat-x;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
    -ms-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.c100.p2 .bar {
    -ms-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.c100.p3 .bar {
    -ms-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.c100.p4 .bar {
    -ms-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.c100.p5 .bar {
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
}

.c100.p6 .bar {
    -ms-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.c100.p7 .bar {
    -ms-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.c100.p8 .bar {
    -ms-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.c100.p9 .bar {
    -ms-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.c100.p10 .bar {
    -ms-transform: rotate(36deg);
    transform: rotate(36deg);
}

.c100.p11 .bar {
    -ms-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.c100.p12 .bar {
    -ms-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.c100.p13 .bar {
    -ms-transform: rotate(46.8deg);
    transform: rotate(46.8deg);
}

.c100.p14 .bar {
    -ms-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.c100.p15 .bar {
    -ms-transform: rotate(54deg);
    transform: rotate(54deg);
}

.c100.p16 .bar {
    -ms-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.c100.p17 .bar {
    -ms-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.c100.p18 .bar {
    -ms-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.c100.p19 .bar {
    -ms-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.c100.p20 .bar {
    -ms-transform: rotate(72deg);
    transform: rotate(72deg);
}

.c100.p21 .bar {
    -ms-transform: rotate(75.6deg);
    transform: rotate(75.6deg);
}

.c100.p22 .bar {
    -ms-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.c100.p23 .bar {
    -ms-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.c100.p24 .bar {
    -ms-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.c100.p25 .bar {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p26 .bar {
    -ms-transform: rotate(93.6deg);
    transform: rotate(93.6deg);
}

.c100.p27 .bar {
    -ms-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.c100.p28 .bar {
    -ms-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.c100.p29 .bar {
    -ms-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.c100.p30 .bar {
    -ms-transform: rotate(108deg);
    transform: rotate(108deg);
}

.c100.p31 .bar {
    -ms-transform: rotate(111.6deg);
    transform: rotate(111.6deg);
}

.c100.p32 .bar {
    -ms-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.c100.p33 .bar {
    -ms-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.c100.p34 .bar {
    -ms-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.c100.p35 .bar {
    -ms-transform: rotate(126deg);
    transform: rotate(126deg);
}

.c100.p36 .bar {
    -ms-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.c100.p37 .bar {
    -ms-transform: rotate(133.2deg);
    transform: rotate(133.2deg);
}

.c100.p38 .bar {
    -ms-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.c100.p39 .bar {
    -ms-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.c100.p40 .bar {
    -ms-transform: rotate(144deg);
    transform: rotate(144deg);
}

.c100.p41 .bar {
    -ms-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.c100.p42 .bar {
    -ms-transform: rotate(151.2deg);
    transform: rotate(151.2deg);
}

.c100.p43 .bar {
    -ms-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.c100.p44 .bar {
    -ms-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.c100.p45 .bar {
    -ms-transform: rotate(162deg);
    transform: rotate(162deg);
}

.c100.p46 .bar {
    -ms-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.c100.p47 .bar {
    -ms-transform: rotate(169.2deg);
    transform: rotate(169.2deg);
}

.c100.p48 .bar {
    -ms-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.c100.p49 .bar {
    -ms-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.c100.p50 .bar {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100.p51 .bar {
    -ms-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.c100.p52 .bar {
    -ms-transform: rotate(187.2deg);
    transform: rotate(187.2deg);
}

.c100.p53 .bar {
    -ms-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.c100.p54 .bar {
    -ms-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.c100.p55 .bar {
    -ms-transform: rotate(198deg);
    transform: rotate(198deg);
}

.c100.p56 .bar {
    -ms-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.c100.p57 .bar {
    -ms-transform: rotate(205.2deg);
    transform: rotate(205.2deg);
}

.c100.p58 .bar {
    -ms-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.c100.p59 .bar {
    -ms-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.c100.p60 .bar {
    -ms-transform: rotate(216deg);
    transform: rotate(216deg);
}

.c100.p61 .bar {
    -ms-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.c100.p62 .bar {
    -ms-transform: rotate(223.2deg);
    transform: rotate(223.2deg);
}

.c100.p63 .bar {
    -ms-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.c100.p64 .bar {
    -ms-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.c100.p65 .bar {
    -ms-transform: rotate(234deg);
    transform: rotate(234deg);
}

.c100.p66 .bar {
    -ms-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.c100.p67 .bar {
    -ms-transform: rotate(241.2deg);
    transform: rotate(241.2deg);
}

.c100.p68 .bar {
    -ms-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.c100.p69 .bar {
    -ms-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.c100.p70 .bar {
    -ms-transform: rotate(252deg);
    transform: rotate(252deg);
}

.c100.p71 .bar {
    -ms-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.c100.p72 .bar {
    -ms-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.c100.p73 .bar {
    -ms-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.c100.p74 .bar {
    -ms-transform: rotate(266.4deg);
    transform: rotate(266.4deg);
}

.c100.p75 .bar {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.c100.p76 .bar {
    -ms-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.c100.p77 .bar {
    -ms-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.c100.p78 .bar {
    -ms-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.c100.p79 .bar {
    -ms-transform: rotate(284.4deg);
    transform: rotate(284.4deg);
}

.c100.p80 .bar {
    -ms-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p81 .bar {
    -ms-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.c100.p82 .bar {
    -ms-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.c100.p83 .bar {
    -ms-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.c100.p84 .bar {
    -ms-transform: rotate(302.4deg);
    transform: rotate(302.4deg);
}

.c100.p85 .bar {
    -ms-transform: rotate(306deg);
    transform: rotate(306deg);
}

.c100.p86 .bar {
    -ms-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.c100.p87 .bar {
    -ms-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.c100.p88 .bar {
    -ms-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.c100.p89 .bar {
    -ms-transform: rotate(320.4deg);
    transform: rotate(320.4deg);
}

.c100.p90 .bar {
    -ms-transform: rotate(324deg);
    transform: rotate(324deg);
}

.c100.p91 .bar {
    -ms-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.c100.p92 .bar {
    -ms-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.c100.p93 .bar {
    -ms-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.c100.p94 .bar {
    -ms-transform: rotate(338.4deg);
    transform: rotate(338.4deg);
}

.c100.p95 .bar {
    -ms-transform: rotate(342deg);
    transform: rotate(342deg);
}

.c100.p96 .bar {
    -ms-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.c100.p97 .bar {
    -ms-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.c100.p98 .bar {
    -ms-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.c100.p99 .bar {
    -ms-transform: rotate(356.4deg);
    transform: rotate(356.4deg);
}

.c100.p100 .bar {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.c100:hover {
    cursor: default;
}

.c100.dark {
    background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
    border-color: #c6ff00 !important;
}

.c100.dark>span {
    color: #777777;
}

.c100.dark:after {
    background-color: #666666;
}

.c100.dark:hover>span {
    color: #c6ff00;
}

.c100.green .bar,
.c100.green .fill {
    border-color: #4db53c !important;
}

.c100.green:hover>span {
    color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
    border-color: #5fd400 !important;
}

.c100.green.dark:hover>span {
    color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
    border-color: #dd9d22 !important;
}

.c100.orange:hover>span {
    color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
    border-color: #e08833 !important;
}

.c100.orange.dark:hover>span {
    color: #e08833;
}

#calculator {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 8px;
}

@media (max-width: 992px) {
    #calculator .main.container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    #calculator {
        font-size: 14px;
    }
}

#calculator .banner {
    margin-bottom: 20px;
    font-size: 14px;
}

@media (min-width: 992px) {
    #calculator .banner {
        margin-bottom: 0;
    }
}

#calculator .main .mainImgWrapper {
    padding: 0 15px;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper {
        display: table;
        width: 100%;
    }
}

#calculator .main .mainImgWrapper>div {
    padding: 0;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper>div {
        display: table-cell;
        float: none;
        vertical-align: top;
        padding: 0 2em;
    }
}

#calculator .main .mainImgWrapper .mainImg img {
    width: 100%;
}

#calculator .main .mainImgWrapper .input .calc_label {
    font-size: 1.71429em;
    color: #fff;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .input .calc_label {
        padding-left: 0;
    }
}

#calculator .main .mainImgWrapper .input .calc_value {
    width: 90%;
    max-width: 300px;
    /* background: #F5F5F5; */
    text-align: center;
    font-weight: bold;
    color: #000;
    float: right;
    margin-right: 10%;
    position: relative;
}

@media (max-width: 992px) {
    .en #calculator .main .mainImgWrapper .input .calc_value {
        width: 60%;
        margin-right: 40%;
    }
}

#calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount,
#calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate,
#calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod {
    width: 100%;
    text-align: center;
    border: 0;
    outline: none;
    background: #fff;
    font-size: 2.14286em;
}

.en #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount,
.en #calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate,
.en #calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod {
    width: 70%;
}

@media (max-width: 992px) {
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod {
        width: 70%;
        font-size: 1em;
        line-height: 2.2em;
    }
}

#calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit,
#calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate~.calc_unit,
#calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod~.calc_unit {
    position: absolute;
    top: 0;
    right: -30px;
    line-height: 42px;
    display: block;
    text-align: left;
    width: 30px;
    color: #fff;
}

@media (max-width: 992px) {
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate~.calc_unit,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod~.calc_unit {
        width: 80px;
        right: -70px;
    }
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit,
    #calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate~.calc_unit,
    #calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod~.calc_unit {
        right: -90px;
        width: 90px;
    }
}

@media (min-width: 992px) {
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_monthlyInterestRate~.calc_unit,
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_repaymentPeriod~.calc_unit {
        right: -120px;
        width: 150px;
    }
}

#calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit {
    top: 0;
    left: -30px;
    right: auto;
    text-align: right;
}

@media (max-width: 992px) {
    .en #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit {
        left: -70px;
    }
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .input .calc_value .calc_loanAmount~.calc_unit {
        left: -120px;
    }
}

#calculator .main .mainImgWrapper .input .calc_value .calc_unit {
    font-size: 1.42857em;
    padding: 0 3px;
}

#calculator .main .mainImgWrapper .output {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
}

#calculator .main .mainImgWrapper .output a {
    font-size: 1.785em;
    font-weight: normal;
    padding: 1.357em 0;
    display: inline-block;
    border-radius: 0.25em;
    background: white;
    text-align: center;
    color: white;
    max-width: 180px;
    text-decoration: none;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output a {
        font-size: 1.2em;
    }
}

#calculator .main .mainImgWrapper .output a.applyNow {
    margin-top: 30px;
    width: 9.85714em;
    background: #0033a1;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output a.applyNow {
        width: 7.85714em;
        padding: 0.757em 0;
    }
}

#calculator .main .mainImgWrapper .output .custom_margin {
    margin: 30px 0;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .custom_margin {
        margin-top: 0;
    }
}

#calculator .main .mainImgWrapper .output .title {
    font-size: 1.71429em;
    color: #fff;
    text-align: center;
}

#calculator .main .mainImgWrapper .output .monthlyRepaymentWrapper {
    font-size: 4.28571em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #0033a1;
}

#calculator .main .mainImgWrapper .output .principal_top_wrapper {
    margin-top: 0;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .principal_top_wrapper {
        margin-top: 60px;
    }
}

#calculator .main .mainImgWrapper .output .principal_top_wrapper .principal_color {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: #0033a1;
    display: inline-block;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .principal_top_wrapper .principal_color {
        width: 20px;
        height: 20px;
    }
}

#calculator .main .mainImgWrapper .output .principal_top_wrapper .principal_label {
    font-size: 1.71429em;
    color: #0033a1;
    display: inline-block;
}

#calculator .main .mainImgWrapper .output .interest_top_wrapper {
    margin-top: 0;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .interest_top_wrapper {
        margin-top: 30px;
    }
}

#calculator .main .mainImgWrapper .output .interest_top_wrapper .interest_color {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: #00a7e1;
    display: inline-block;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .interest_top_wrapper .interest_color {
        width: 20px;
        height: 20px;
    }
}

#calculator .main .mainImgWrapper .output .interest_top_wrapper .interest_label {
    font-size: 1.71429em;
    color: #555554;
    color: #00a7e1;
    display: inline-block;
}

#calculator .main .mainImgWrapper .output .principal_bottom_wrapper,
#calculator .main .mainImgWrapper .output .interest_bottom_wrapper {
    font-size: 1.78571em;
    color: #555554;
    text-align: right;
    color: #fff;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .principal_bottom_wrapper,
    #calculator .main .mainImgWrapper .output .interest_bottom_wrapper {
        text-align: left;
    }
}

#calculator .main .mainImgWrapper .output .interest_section {
    margin-top: 30px;
}

@media (min-width: 992px) {
    #calculator .main .mainImgWrapper .output .interest_section {
        margin-top: 0;
    }
}

#calculator .main .applyWrapper {
    text-align: center;
}

@media (min-width: 992px) {
    #calculator .main .applyWrapper {
        text-align: left;
    }
}

#calculator #tnc {
    margin-top: 2em;
    color: #555554;
    font-size: 0.833em;
    padding-bottom: 40px;
}

@media (min-width: 992px) {
    #calculator #tnc {
        padding-bottom: 0;
        padding-left: 15px;
    }
}

#calculator #tnc ol {
    margin-left: -25px;
}

#calculator #tnc ol>li {
    padding-left: 25px;
}

#calculator #tnc ol>li>ul.dashed {
    list-style-type: none;
    padding: 0;
}

#calculator #tnc ol>li>ul.dashed>li {
    text-index: -5px;
}

#calculator #tnc ol>li>ul.dashed>li:before {
    content: '- ';
    text-indent: -5px;
}

.sliderWrapper {
    padding: 0 25px;
}

@media (min-width: 992px) {
    .sliderWrapper {
        padding: 0 0 0 15px;
    }
}

.slider.slider-horizontal {
    width: 98%;
    height: 11px;
    margin: 2.643em 0em;
}

@media (min-width: 992px) {
    .slider.slider-horizontal {
        margin: 3.786em 0.714px;
        height: 20px;
        margin: 4.643em 0em;
    }
}

.slider.slider-horizontal .slider-track {
    height: 2px;
    margin-top: 3px;
}

@media (min-width: 992px) {
    .slider.slider-horizontal .slider-track {
        height: 5px;
    }
}

.slider.slider-horizontal .slider-handle {
    width: 20px;
    height: 20px;
    background: #0033a1;
    border-radius: 3px;
    /* border: 1px solid #FFF; */
    cursor: pointer;
}

@media (min-width: 992px) {
    .slider.slider-horizontal .slider-handle {
        width: 30px;
        height: 30px;
    }
}

.slider.slider-horizontal .slider-selection {
    background: #0033a1;
}

.slider.slider-horizontal .slider-track-high {
    background: #fff;
}

.chart_wrapper {
    width: 100%;
    margin-top: 30px;
}

.chart_wrapper .c100 {
    float: none;
    box-shadow: 0px 0px 10px #666666;
}

.chart_wrapper #circle {
    margin: 0 auto;
}

.chart_wrapper #circle .circle_title {
    width: 11em;
    font-size: 0.09em;
    top: 50px;
    color: #0033a1;
}

.chart_wrapper #circle .circle_value {
    width: 11em;
    font-size: 0.09em;
    top: 75px;
    color: #fff;
    position: relative;
    top: 80px;
}

.chart_wrapper #circle .slice .bar,
.chart_wrapper #circle .slice .fill {
    border-color: #0033a1;
}

#cal.calPage {
    right: 15px;
}

#cal.calPage .top,
#cal.calPage .separateLine {
    display: none;
}

#cal.calPage .bot {
    border-top-left-radius: 0.5em;
}

#cal.calPage .hidden-md.hidden-lg a:first-child {
    display: none;
}

#cal.calPage .hidden-md.hidden-lg a {
    width: 100%;
}

#JobDetail {
    max-width: 1280px;
    margin: 0 auto;
}

#JobDetail .title {
    color: #0033a1;
    font-size: 1.2em;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    #JobDetail .title {
        margin-bottom: 5px;
        font-size: 1.75em;
    }
}

#JobDetail .intro {
    font-size: 1em;
}

@media (min-width: 992px) {
    #JobDetail .intro {
        font-size: 1.15em;
    }
}

#JobDetail .jobDetailBody {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 14px;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody {
        font-size: 16px;
    }
}

#JobDetail .jobDetailBody .jobDescription {
    font-size: 1em;
    padding: 0.5em 1em;
    margin-top: -1em;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription {
        font-size: 1em;
        padding: 2em 4em;
        margin-top: -1.5em;
    }
}

#JobDetail .jobDetailBody .jobDescription .share {
    color: #0033a1;
    text-align: right;
    margin-top: 2em;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .share {
        margin-top: 1em;
    }
}

#JobDetail .jobDetailBody .jobDescription .share button {
    background: none;
    border: none;
}

#JobDetail .jobDetailBody .jobDescription .share>.dropdown {
    display: inline-block;
}

#JobDetail .jobDetailBody .jobDescription .share>.dropdown>* {
    vertical-align: middle;
}

#JobDetail .jobDetailBody .jobDescription .share span {
    margin-left: 0.5em;
    display: none;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .share span {
        display: inline;
    }
}

#JobDetail .jobDetailBody .jobDescription .share .dropdown-menu {
    left: 50%;
    text-align: center;
    z-index: 3;
    border: none;
    box-shadow: none;
    background: none;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#JobDetail .jobDetailBody .jobDescription .share .dropdown-menu a {
    display: block;
    margin: 2.2em 0;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .share .dropdown-menu a {
        margin: 0 1.5em;
        display: inline;
    }
}

#JobDetail .jobDetailBody .jobDescription .share .dropdown-menu .dropdown-menu-inner {
    background: url(../img/job/shareBg_v.png) center top no-repeat;
    width: 126px;
    height: 257px;
    padding-top: 30px;
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -ms-transform-origin: 70% 0;
    transform-origin: 70% 0;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .share .dropdown-menu .dropdown-menu-inner {
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        background: url(../img/job/shareBg.png) center top no-repeat;
        width: 274px;
        height: 99px;
        padding-top: 40px;
    }
}

#JobDetail .jobDetailBody .jobDescription .position {
    font-size: 1.5em;
    color: #0033a1;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .position {
        font-size: 2em;
    }
}

#JobDetail .jobDetailBody .jobDescription .DepartmentDetail,
#JobDetail .jobDetailBody .jobDescription .refNumWrapper {
    font-size: 0.9em;
}

#JobDetail .jobDetailBody .jobDescription .DepartmentDetail {
    color: #0033a1;
    font-size: 1.2em;
    margin: 1.5em auto;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .jobDescription .DepartmentDetail {
        font-size: 0.9em;
    }
}

#JobDetail .jobDetailBody .jobDescription .jobDesc {
    padding: 1em 0 1em;
}

#JobDetail .jobDetailBody .jobDescription .jobDesc .descLabel {
    font-size: 1em;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#JobDetail .jobDetailBody .jobDescription .dateWrapper,
#JobDetail .jobDetailBody .jobDescription .contactWrapper {
    font-size: 0.9em;
    line-height: 2;
}

#JobDetail .jobDetailBody .jobDescription .dateWrapper span,
#JobDetail .jobDetailBody .jobDescription .contactWrapper span {
    margin-left: 0.5em;
}

#JobDetail .jobDetailBody .jobDescription .contactWrapper,
#JobDetail .jobDetailBody .jobDescription .contactWrapper a {
    color: #0033a1;
}

#JobDetail .jobDetailBody .jobDescription .applyContainer {
    text-align: center;
    margin: 1em auto;
}

#JobDetail .jobDetailBody .jobDescription .applyContainer a {
    display: inline-block;
    background: #0033a1;
    color: white;
    padding: 0.7em 2em;
    border-radius: 5px;
}

#JobDetail .jobDetailBody .department {
    display: inline-block;
    padding: 0.3em 1em;
    background: #0033a1;
    color: white;
    border-radius: 5px;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody .department {
        padding: 0.7em 4em;
    }
}

#JobDetail .jobDetailBody ul {
    color: #555554;
    font-size: 1em;
    padding-left: 21px;
}

@media (min-width: 992px) {
    #JobDetail .jobDetailBody ul {
        font-size: 1em;
    }
}

#recruitment {
    max-width: 1280px;
    margin: 0 auto;
}

#recruitment .search {
    margin-bottom: 1.667em;
}

#recruitment .search .form-group .form-control,
#recruitment .search .form-group select {
    border-right: 0;
    border-color: #808080;
    box-shadow: none;
}

#recruitment .search .form-group .form-control:focus,
#recruitment .search .form-group select:focus {
    box-shadow: none;
    border-color: inital;
    outline: 0;
}

#recruitment .search .form-group select {
    width: 100%;
    height: 34px;
    text-indent: 12px;
}

#recruitment .search .form-group .input-group-addon {
    background-color: transparent;
    border-color: #808080;
}

#recruitment .search .form-group [type='text']+.input-group-addon img {
    opacity: 0;
}

#recruitment .search .form-group .input-group-addon:before {
    content: '';
    display: block;
    width: 14px;
}

#recruitment .search .form-group .input-group-addon img {
    width: 14px;
}

#recruitment .search .form-group .datepicker {
    padding-left: 12px;
    padding-right: 12px;
}

#recruitment .search .form-group .tagsPopup {
    display: none;
    position: absolute;
    margin: 1px 15px;
    border: 1px #808080 solid;
    border-radius: 0.5em;
    padding: 1em;
    z-index: 1;
    background: white;
    right: 0;
}

#recruitment .search .form-group .tagsPopup.active {
    display: block;
}

@media (min-width: 992px) {
    #recruitment .search .form-group .tagsPopup {
        width: 200%;
        max-width: 550px;
        margin-top: 10px;
    }
    #recruitment .search .form-group .tagsPopup:before {
        content: '';
        background: url(../img/news/top-arrow.png);
        width: 34px;
        height: 23px;
        position: absolute;
        bottom: 100%;
        right: 1%;
    }
}

#recruitment .search .form-group .tagsPopup .tags {
    display: inline-block;
    background: #000;
    color: white;
    padding: 0.4em 1em;
    border-radius: 0.5em;
    margin: 0.4em 0.6em;
}

#recruitment .trainingPlans {
    font-size: 14px;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    #recruitment .trainingPlans .items {
        overflow: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #recruitment .trainingPlans .items>div:nth-child(2n + 2) {
        padding-left: 15px;
    }
}

#recruitment .trainingPlans .title,
#recruitment .trainingPlans .planName {
    font-size: 1.4em;
    margin-top: 0.632em;
    color: white;
    margin-bottom: 0.632em;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .title,
    #recruitment .trainingPlans .planName {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.632em;
    }
}

#recruitment .trainingPlans .planName {
    font-size: 1.2em;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .planName {
        font-size: 2em;
    }
}

#recruitment .trainingPlans .plandetail {
    font-size: 1em;
    color: white;
    display: none;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .plandetail {
        display: block;
    }
}

#recruitment .trainingPlans .title {
    color: #bfa98f;
}

#recruitment .trainingPlans .plan {
    padding: 0.8em 0.3em 0.3em;
    margin-bottom: 1em;
    background: #bfa98f;
    border-radius: 4px;
    text-align: center;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .plan {
        margin-bottom: 0;
        padding: 2.857em;
    }
}

#recruitment .trainingPlans .imgWrapper {
    height: 60px;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .imgWrapper {
        height: 111px;
    }
}

@media (max-width: 992px) {
    #recruitment .trainingPlans .imgWrapper img {
        width: 50%;
    }
}

@media (max-width: 992px) and (min-width: 321px) {
    #recruitment .trainingPlans .imgWrapper img {
        width: auto;
        height: 100%;
    }
}

#recruitment .trainingPlans .imgWrapper img {
    vertical-align: middle;
}

#recruitment .jobs .title {
    color: #0033a1;
    padding: 1.667em 0 1em;
    font-size: 1.4em;
}

@media (min-width: 992px) {
    #recruitment .jobs .title {
        padding: 1.667em 0;
        font-size: 2em;
    }
}

#recruitment .jobs .jobRow>div {
    height: auto;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

@media (min-width: 992px) {
    #recruitment .jobs .jobRow>div {
        height: 27em;
    }
}

#recruitment .jobs .job {
    height: 100%;
    max-height: 100%;
}

#recruitment .jobs .job .inner {
    background: #ebebeb;
    padding-left: 1.444em;
    padding-right: 1.444em;
    padding-bottom: 1.444em;
    height: 100%;
    max-height: 100%;
    border-radius: 5px;
}

@media (min-width: 992px) {
    #recruitment .jobs .job .inner {
        padding-left: 2.444em;
        padding-right: 2.444em;
        padding-bottom: 2.444em;
    }
}

#recruitment .jobs .job .inner .department {
    background: #0033a1;
    color: white;
    padding: 1em 0;
    text-align: center;
    max-width: 95%;
    width: auto;
    margin: 0 auto;
    line-height: 1;
    position: relative;
    top: -1.5em;
    border-radius: 5px;
}

@media (min-width: 992px) {
    #recruitment .jobs .job .inner .department {
        max-width: 85%;
    }
}

#recruitment .jobs .job .inner .position {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

@media (min-width: 992px) {
    #recruitment .jobs .job .inner .position {
        font-size: 1.667em;
        margin-bottom: 1em;
    }
}

#recruitment .jobs .job .inner .position a:link,
#recruitment .jobs .job .inner .position a:visited {
    color: #0033a1;
}

#recruitment .jobs .job .inner .detailDepartment {
    color: #0033a1;
}

#recruitment .jobs .job .inner .department,
#recruitment .jobs .job .inner .detailDepartment,
#recruitment .jobs .job .inner .summary,
#recruitment .jobs .job .inner .dateNLink {
    font-size: 1em;
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    #recruitment .jobs .job .inner .department,
    #recruitment .jobs .job .inner .detailDepartment,
    #recruitment .jobs .job .inner .summary,
    #recruitment .jobs .job .inner .dateNLink {
        margin-bottom: 1.667em;
    }
}

#recruitment .jobs .job .inner .dateNLink {
    overflow: auto;
}

#recruitment .jobs .job .inner .dateNLink .left {
    float: left;
}

#recruitment .jobs .job .inner .dateNLink .left img {
    margin-right: 0.7em;
}

#recruitment .jobs .job .inner .dateNLink .right {
    float: right;
    text-align: right;
}

#recruitment .jobs .job .inner .dateNLink .right a {
    display: inline-block;
    margin-top: -3em;
}

#recruitment .trainingPlans .planName {
    min-height: 3em;
}

@media (min-width: 992px) {
    #recruitment .trainingPlans .planName {
        font-size: 1.6em;
        min-height: 0;
        height: 2em;
    }
}

#owner-tnc {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 11.25px;
}

@media (min-width: 992px) {
    #owner-tnc {
        font-size: 1em;
    }
}

@media (min-width: 992px) and (max-width: 1500px) {
    #owner-tnc {
        padding-right: 120px;
    }
}

#owner-tnc .owner-tnc {
    font-size: 0.9em;
}

#owner-tnc .owner-tnc .textWrapper {
    font-size: 1.285em;
}

#owner-tnc .owner-tnc .textWrapper.head {
    font-size: 1.428em;
    padding-bottom: 2.28571429em;
}

#owner-tnc .owner-tnc .textWrapper.title {
    font-size: 1.785em;
    font-weight: bold;
    padding-bottom: 1em;
}

#owner-tnc .owner-tnc .textWrapper ol {
    padding-left: 20px;
}

#owner-tnc .owner-tnc .buttonWrapper {
    color: white;
}

#owner-tnc .owner-tnc .buttonWrapper .btn {
    border-radius: 4px;
    padding-top: 1.357em;
    padding-bottom: 1.357em;
    margin: 0 15px;
    font-size: 0.9em;
    width: 100px;
}

@media (min-width: 992px) {
    #owner-tnc .owner-tnc .buttonWrapper .btn {
        width: 180px;
    }
}

#owner-tnc .owner-tnc .buttonWrapper .btn:active {
    box-shadow: none;
}

#owner-tnc .owner-tnc .buttonWrapper .btn.btn-agree {
    background: #0033a1;
}

#owner-tnc .owner-tnc .buttonWrapper .btn.btn-disagree {
    background: #959595;
}

#owner-tnc .owner-tnc .buttonWrapper .btn:focus,
#owner-tnc .owner-tnc .buttonWrapper .btn:hover {
    color: white;
}

#owner-tnc .owner-tnc .buttonWrapper .btn span {
    font-size: 1.785em;
}

#owner-tnc #tnc {
    margin-top: 20px;
    color: #555554;
    font-size: 11.662px;
    padding-bottom: 40px;
}

@media (min-width: 992px) {
    #owner-tnc #tnc {
        padding-bottom: 0;
    }
}

#owner-tnc #tnc ol {
    margin-left: -25px;
}

#owner-tnc #tnc ol>li {
    padding-left: 25px;
}

#owner-tnc #tnc ol>li>ul.dashed {
    list-style-type: none;
    padding: 0;
}

#owner-tnc #tnc ol>li>ul.dashed>li {
    text-index: -5px;
}

#owner-tnc #tnc ol>li>ul.dashed>li:before {
    content: '- ';
    text-indent: -5px;
}

#form.owner {
    padding-bottom: 40px;
}

#form.owner .formContainer,
#form.owner .confirmContainer {
    border-bottom-color: transparent;
}

#form.owner .recaptchaContainer {
    margin-bottom: 4.333em;
}

#form.owner .declarationContainer {
    padding: 2em 0;
}

#form.owner .btn-submit,
#form.owner .btn-no-offer,
#form.owner .btn-no-reset {
    display: block;
    margin: auto 15px;
}

@media (min-width: 992px) {
    #form.owner .btn-submit,
    #form.owner .btn-no-offer,
    #form.owner .btn-no-reset {
        display: inline-block;
    }
}

#form.owner .btn-submit span,
#form.owner .btn-no-offer span,
#form.owner .btn-no-reset span {
    display: inline-block;
    background: #0033a1;
    border-radius: 0.167em;
    padding: 0.833em 2.708em 0.75em 2.708em;
    cursor: pointer;
    color: white;
    width: 80%;
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    #form.owner .btn-submit span,
    #form.owner .btn-no-offer span,
    #form.owner .btn-no-reset span {
        margin-bottom: 0;
        width: auto;
    }
}

#form.owner .btn-no-offer span,
#form.owner .btn-no-reset span {
    background: #959595;
}

#owner_result {
    max-width: 1280px;
    margin: 0 auto;
}

#owner_result #form.owner_result .formContainer,
#owner_result #form.owner_result .confirmContainer {
    border-bottom-color: transparent;
}

#owner_result #form.owner_result .recaptchaContainer {
    margin-bottom: 4.333em;
}

#owner_result #form.owner_result .btn-submit,
#owner_result #form.owner_result .btn-no-offer,
#owner_result #form.owner_result .btn-no-reset {
    display: inline-block;
    margin: auto 15px;
}

#owner_result #form.owner_result .btn-submit span,
#owner_result #form.owner_result .btn-no-offer span,
#owner_result #form.owner_result .btn-no-reset span {
    display: inline-block;
    background: #0033a1;
    border-radius: 0.167em;
    padding: 0.833em 2.708em 0.75em 2.708em;
    cursor: pointer;
    color: white;
}

#owner_result #form.owner_result .btn-no-offer span,
#owner_result #form.owner_result .btn-no-reset span {
    background: #959595;
}

#owner_result #form.owner_result .result {
    margin-top: 1.475em;
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.51);
}

#owner_result #form.owner_result .result>.row {
    margin-bottom: 2em;
}

#owner_result #form.owner_result .result .title {
    color: #808080;
}

#owner_result #form.owner_result .result .referenceText {
    color: #808080;
    font-size: 0.75em;
}

#owner_result #form.owner_result .result .btn-apply-now,
#owner_result #form.owner_result .result .btn-back,
#owner_result #form.owner_result .result .btn-contact {
    display: inline-block;
    margin: auto 15px;
}

#owner_result #form.owner_result .result .btn-apply-now span,
#owner_result #form.owner_result .result .btn-back span,
#owner_result #form.owner_result .result .btn-contact span {
    display: inline-block;
    background: #0033a1;
    border-radius: 0.167em;
    cursor: pointer;
    color: white;
    padding: 0.833em 1em 0.75em 1em;
}

@media (min-width: 992px) {
    #owner_result #form.owner_result .result .btn-apply-now span,
    #owner_result #form.owner_result .result .btn-back span,
    #owner_result #form.owner_result .result .btn-contact span {
        padding: 0.833em 2.708em 0.75em 2.708em;
    }
}

#owner_result #form.owner_result .result .btn-back span,
#owner_result #form.owner_result .result .btn-contact span {
    background: #959595;
}

#faq {
    font-size: 14px;
}

#faq .faqTitle .panel-title,
#faq .faqContent .panel-body {
    font-size: 14px;
}

#faq .faqWrapper {
    padding-top: 1.4285em;
    padding-bottom: 1.4285em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#faq .faqWrapper+.faqWrapper {
    border-top: none;
}

#faq .faqTitle .panel-title a {
    display: block;
    width: 100%;
    line-height: 1.2;
    font-size: 1.2em;
    color: #0033a1;
    padding-right: 3em;
    position: relative;
}

@media (min-width: 992px) {
    #faq .faqTitle .panel-title a {
        font-size: 1.333em;
    }
}

#faq .faqTitle .panel-title a:after {
    content: url(../img/faq/arrow.png);
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateX(180deg);
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: all 0.2s linear;
}

#faq .faqTitle .panel-title a[aria-expanded='true']:after {
    transform: rotateX(0);
}

#faq .faqContent .panel-body {
    border: none;
}

.contactUs {
    float: left;
    width: 100%;
}

.contactUs>.container>.row>div:first-child {
    padding-left: 0;
}

@media (min-width: 1280px) {
    .contactUs>.container>.row>div:first-child {
        padding-left: 15px;
    }
}

.contactUs .formContainer {
    border-bottom: 0;
}

.contactUs .bigSelection {
    padding-top: 2.167em;
}

@media (min-width: 992px) {
    .contactUs .bigSelection {
        padding-top: 0;
    }
}

.contactUs .bigSelection>div>div>div {
    font-size: 0;
}

.contactUs .bigSelection>div>div>div>div {
    display: inline-block;
    width: 50%;
    font-size: 20px;
}

@media (min-width: 992px) {
    .contactUs .bigSelection>div>div>div>div {
        font-size: 36px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .contactUs .bigSelection>div>div>div>div {
        font-size: 32px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .contactUs .bigSelection>div>div>div>div {
        font-size: 28px;
    }
}

.contactUs .bigSelection>div>div>div>div+div label {
    border-left: 0;
}

.contactUs .bigSelection input {
    display: none;
}

.contactUs .bigSelection label {
    display: inline-block;
    text-align: left;
    text-indent: 1em;
    width: 100%;
    font-size: 15px;
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: normal;
    line-height: 3.267;
    color: #58585a;
    background: url('../img/form/arrow_e.png') 95% center no-repeat;
    border: 1px solid #999999;
}

@media (min-width: 992px) {
    .contactUs .bigSelection label {
        text-indent: 0;
        text-align: center;
        width: 100%;
        font-size: 27px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .contactUs .bigSelection label {
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .contactUs .bigSelection label {
        font-size: 21px;
    }
}

.contactUs .bigSelection input:checked+label {
    color: #0033a1;
    background: url('../img/form/arrow_s_red.png') 95% center no-repeat;
}

.contactUs .bigSelection .radioLabel {
    font-size: 1em;
}

.contactUs .recaptchaContainer {
    margin-bottom: 4.333em;
}

.contactUs .btn-submit span {
    display: inline-block;
    background: #0033a1;
    border-radius: 0.167em;
    padding: 0.833em 2.708em 0.75em 2.708em;
    cursor: pointer;
    color: white;
}

.contactUs .btn-submit:focus {
    text-decoration: underline;
    outline: 0;
}

.contactUs .btn-submit:focus span {
    text-decoration: underline;
}

.contactUs .btn-submit span+span {
    margin-left: 1.354em;
}

.contactUsFormHead {
    font-size: 14px;
}

@media (min-width: 992px) {
    .contactUsFormHead {
        font-size: 21.6px;
    }
}

.contactUsFormHead .centreName {
    color: #0033a1;
    font-size: 1.25em;
}

.contactUsFormHead .centreContact {
    margin: 2em 0;
    line-height: 1.5;
}

.contactUsFormHead .centreContact span+span {
    margin-left: 0.5em;
}

.contactUsFormHead .centreContact span+span a,
.contactUsFormHead .centreContact span+span a:hover,
.contactUsFormHead .centreContact span+span a:visited {
    color: #58585a;
}

.contactUsFormHead .formIntro span {
    color: #0033a1;
    font-size: 1em;
}

@media (min-width: 992px) {
    .contactUsFormHead .formIntro span {
        font-size: 0.667em;
    }
}

@media (max-width: 1500px) and (min-width: 992px) {
    #owner-tnc.contactUsWrapper {
        padding-right: 0;
    }
}

#companyOverview {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 14px;
}

#companyOverview .traineeTextWrapper span {
    width: 100%;
    text-align: justify;
    display: block;
}

#companyOverview .traineeTextWrapper span.quote {
    color: #0033a1;
    font-size: 2em;
    line-height: 1.2;
}

@media (min-width: 992px) and (max-width: 1279px) {
    #companyOverview .traineeTextWrapper span.quote {
        font-size: 1.4em;
        line-height: 1.5;
    }
}

#companyOverview .traineeTextWrapper span.quote:before,
#companyOverview .traineeTextWrapper span.quote:after {
    font-family: 'Arial', serif;
    font-size: 80px;
    line-height: 0.1em;
}

@media (min-width: 992px) and (max-width: 1279px) {
    #companyOverview .traineeTextWrapper span.quote:before,
    #companyOverview .traineeTextWrapper span.quote:after {
        font-size: 50px;
    }
}

#companyOverview .traineeTextWrapper span.quote:before {
    content: '‘';
    transform: rotateZ(0) translateY(0.4em);
    display: inline-block;
}

#companyOverview .traineeTextWrapper span.quote:after {
    content: '‘';
    transform: rotateZ(180deg) translateY(0.1em);
    display: inline-block;
}

#companyOverview .traineeTextWrapper span.desc {
    font-size: 1em;
    padding: 2em 0;
}

@media (min-width: 992px) and (max-width: 1279px) {
    #companyOverview .traineeTextWrapper span.desc {
        padding: 1em 0;
    }
}

#companyOverview .traineeTextWrapper span.sign {
    text-align: right;
    font-size: 0.9em;
}

#companyOverview .applyWrapper {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #e5e5e5;
}

#companyOverview .applyWrapper .apply {
    background: #0033a1;
    color: white;
    line-height: 1.2;
    padding: 1em;
    font-size: 1.4em;
    border-radius: 5px;
    border: none;
    display: inline-block;
}

#companyOverview .title {
    color: #0033a1;
    font-size: 1.4em;
    margin-top: 0.632em;
}

@media (min-width: 992px) {
    #companyOverview .title {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.632em;
    }
}

#companyOverview .content {
    font-size: 1em;
}

@media (min-width: 992px) {
    #companyOverview .content {
        line-height: 1.5;
        font-size: 1.15em;
    }
}

#companyOverview .article {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: justify;
}

#companyOverview .article ul,
#companyOverview .article ol {
    padding-left: 21px;
}

@media (max-width: 992px) {
    #companyOverview .article img {
        max-width: 70%;
    }
}

#companyOverview .menuItems {
    margin-top: 6em;
}

@media (max-width: 992px) {
    #companyOverview .menuItems {
        margin-top: 0;
    }
    #companyOverview .menuItems>div:first-child {
        margin-top: 0;
    }
    #companyOverview .menuItems>div:last-child {
        margin-bottom: 3em;
    }
}

#companyOverview .menuItems+.menuItems {
    margin-top: 0;
}

@media (min-width: 992px) {
    #companyOverview .menuItems+.menuItems {
        margin-top: 4em;
    }
}

#companyOverview .menuItems>div {
    margin-top: 3em;
}

@media (min-width: 992px) {
    #companyOverview .menuItems>div {
        margin-top: 0;
        margin-bottom: 3em;
    }
}

#companyOverview .menuItems+.menuItems>div:last-child {
    margin-bottom: 3em;
}

@media (min-width: 992px) {
    #companyOverview .menuItems+.menuItems>div:last-child {
        margin-bottom: 0;
    }
}

#companyOverview .menuItems .imgWrapper {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#companyOverview .menuItems .imgWrapper img {
    width: 100%;
}

#companyOverview .menuItems .textWrapper {
    color: #0033a1;
    text-align: center;
    line-height: 2.8;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 5px;
    font-size: 1.2em;
}

@media (min-width: 992px) {
    #companyOverview .menuItems .textWrapper {
        font-size: 1.6em;
    }
}

#companyOverview .tabButton {
    padding: 0 15px;
}

#companyOverview .tabButton a:link,
#companyOverview .tabButton a:visited {
    width: 50%;
    display: inline-block;
    font-size: 0;
    text-align: center;
    background: white;
    border: 1px solid #58585a;
}

#companyOverview .tabButton a:link:first-child,
#companyOverview .tabButton a:visited:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#companyOverview .tabButton a:link:last-child,
#companyOverview .tabButton a:visited:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#companyOverview .tabButton a:link span,
#companyOverview .tabButton a:visited span {
    font-size: 14px;
    background-size: 20%;
    padding-left: 30px;
    color: #0033a1;
    line-height: 3;
    background-color: transparent;
    background-position: center left;
    background-repeat: no-repeat;
    display: inline-block;
}

@media (min-width: 992px) {
    #companyOverview .tabButton a:link span,
    #companyOverview .tabButton a:visited span {
        font-size: 20px;
        padding-left: 60px;
    }
}

#companyOverview .tabButton a:link.active,
#companyOverview .tabButton a:visited.active {
    background: #58585a;
}

#companyOverview .tabButton a:link.active span,
#companyOverview .tabButton a:visited.active span {
    color: white;
}

#companyOverview .tabButton a:link.music span,
#companyOverview .tabButton a:visited.music span {
    background-image: url('../img/companyOverview/icon-music-red.png');
}

#companyOverview .tabButton a:link.music.active span,
#companyOverview .tabButton a:visited.music.active span {
    background-image: url('../img/companyOverview/icon-music.png');
}

#companyOverview .tabButton a:link.training span,
#companyOverview .tabButton a:visited.training span {
    background-image: url('../img/companyOverview/icon-training-red.png');
}

#companyOverview .tabButton a:link.training.active span,
#companyOverview .tabButton a:visited.training.active span {
    background-image: url('../img/companyOverview/icon-training.png');
}

#companyOverview .tabButton a:link.hand span,
#companyOverview .tabButton a:visited.hand span {
    background-image: url('../img/companyOverview/icon-hand-red.png');
}

#companyOverview .tabButton a:link.hand.active span,
#companyOverview .tabButton a:visited.hand.active span {
    background-image: url('../img/companyOverview/icon-hand.png');
}

#companyOverview .tabButton a:link.award span,
#companyOverview .tabButton a:visited.award span {
    background-image: url('../img/companyOverview/icon-award-red.png');
}

#companyOverview .tabButton a:link.award.active span,
#companyOverview .tabButton a:visited.award.active span {
    background-image: url('../img/companyOverview/icon-award.png');
}

@media (max-width: 992px) {
    #companyOverview.subCat .menuItems {
        margin-top: 0;
    }
}

#companyOverview.subCat .textWrapper {
    padding: 0 1em 1em;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -1.5em;
    background: white;
    border-radius: 0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    text-align: left;
    line-height: 1;
}

#companyOverview.subCat .textWrapper .title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}

#companyOverview.subCat .textWrapper .desc {
    font-size: 14px;
    line-height: 2;
    color: #58585a;
}

#companyOverview.subCat .textWrapper .desc ul {
    padding-left: 21px;
}

#companyOverview.subCat .textWrapper .date {
    font-size: 14px;
    color: white;
    background: rgba(195, 22, 50, 0.95);
    font-weight: bold;
    padding: 0 1em;
    display: inline-block;
    border-radius: 3px;
    line-height: 1.5;
    position: relative;
    top: -1em;
}

#companyOverview.subCat .textWrapper .date+.title {
    padding-top: 0;
}

#companyOverview.subCat.trainee .textWrapper {
    width: 100%;
    top: 0;
    box-shadow: none;
    text-align: justify;
}

#companyOverview .gridPhoto .grid {
    font-size: 0;
    background: whitesmoke;
}

#companyOverview .gridPhoto .grid>a {
    width: 25%;
    display: inline-block;
    opacity: 0.7;
}

#companyOverview .gridPhoto .grid>a.active,
#companyOverview .gridPhoto .grid>a:hover {
    opacity: 1;
}

#companyOverview .gridPhoto .bighead {
    font-size: 0;
    background: #f5f5f5;
}

#companyOverview .gridPhoto .bighead>div {
    width: 30%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

#companyOverview .gridPhoto .bighead>div+div {
    width: 70%;
    font-size: 14px;
    padding: 0 3em;
}

#companyOverview .traineeSwiperWrapper {
    margin-top: 1em;
}

#companyOverview .traineeSwiperWrapper .traineeTextWrapper {
    padding: 2em;
    background: #f5f5f5;
    text-align: justify;
}

#companyOverview .traineeSwiperWrapper .traineeTextWrapper span.quote {
    font-size: 1.25em;
}

#companyOverview .traineeSwiperWrapper .traineeTextWrapper span.quote:before,
#companyOverview .traineeSwiperWrapper .traineeTextWrapper span.quote:after {
    font-family: 'Arial', serif;
    font-size: 2em;
    line-height: 0.5em;
}

#companyOverview .traineeSwiperWrapper .traineeTextWrapper span.desc {
    padding: 1.5em 0;
}

#companyOverview .traineeSwiperWrapper .swiper-slide>img {
    width: 100%;
}

#companyOverview .traineeSwiperWrapper .swiperControl {
    position: relative;
}

#companyOverview .traineeSwiperWrapper .swiper-pagination {
    position: static;
    padding: 20px 0;
    margin: 10px 0;
}

#companyOverview .traineeSwiperWrapper .swiper-pagination .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 16px;
}

#companyOverview .traineeSwiperWrapper .swiper-button-prev,
#companyOverview .traineeSwiperWrapper .swiper-button-next {
    width: 17px;
    height: 38px;
}

#companyOverview .traineeSwiperWrapper .swiper-button-prev {
    background-image: url('../img/companyOverview/arrow_l.png');
    background-size: cover;
}

#companyOverview .traineeSwiperWrapper .swiper-button-next {
    background-image: url('../img/companyOverview/arrow_r.png');
    background-size: cover;
}

#companyOverview .traineeSwiperWrapper .swiper-pagination-bullet-active {
    background: #0033a1;
}

.en #companyOverview .tabButton a:link span,
.en #companyOverview .tabButton a:visited span {
    background-size: 10%;
    padding-left: 35px;
}

.en #companyOverview .tabButton a.training span {
    background-size: 15%;
    padding-left: 40px;
}


/*# sourceMappingURL=style.css.map */

.optionInput .displayField.show {
    border-bottom: 1px solid #333333;
}