.ehkd-logo {
    height: 62px;
}

.top-menu {
    display: inline-block;
    float: right;
    margin: 39px 0px 0px;
}

.top-menu li {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    position: relative;
}

.top-menu li a {
    color: rgb(0, 51, 161);
    font-size: 18px;
    text-decoration: none;
}

a.menu-products-a.level-1 {
    padding: 10px 0 20px 0;
}

.lang-div {
    font-size: 24px;
}

.top-div {
    display: block;
    height: 112px;
    vertical-align: middle;
    width: 100%;
}

.ehkd-logo-a {
    float: left;
    margin: 24px 0px 0px;
}

.lang-div {
    display: inline-block;
    background: rgb(0, 51, 161);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 0px 17px 3px;
    font-size: 21px;
}

.lang-div a {
    color: rgb(255, 255, 255) !important;
    font-size: 15px !important;
}

.site {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
}

.main-banner {
    display: block;
    width: 100%;
    position: relative;
}

.main-banner img {
    width: 100%;
}

.main-banner img.home-banner-innner-img {
    width: 700px;
}

.home-main-banner-inner-div {}

.inner-msg-div-outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.inner-msg-div {}

.inner-msg-div-inner-div {
    display: table-cell;
    opacity: 0;
    vertical-align: middle;
}

.apply-now-btn {
    background: rgb(0, 167, 225);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    padding: 10px 20px;
}

.apply-now-btn:hover {
    color: rgb(255, 255, 255);
}

.large-point-icon {
    width: 250px;
    margin: 0px auto;
    display: table;
    position: relative;
    left: 15px;
}

.large-point-txt {
    color: rgb(0, 51, 161);
    font-size: 22px;
    line-height: 32px;
}

.large-point-txt .big {
    font-size: 30px;
    font-weight: bold;
}

.large-point-txt .small {
    font-size: 16px;
    display: block;
}

.rect-img {
    width: 100%;
}

.rect-img-txt {
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(0, 167, 225);
    font-size: 20px;
    padding: 14px;
}

.footer-lightblue-title {
    color: rgb(0, 167, 225);
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
}

.footer-apply-btn-above-txt {
    font-size: 26px;
}

.footer-apply-btn {
    display: inline-block;
    background: rgb(0, 51, 161);
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 26px;
    text-decoration: none;
}

.footer-apply-btn:hover {
    color: #fff;
}

.footer-sitemap {
    text-align: right;
    width: auto;
    float: right;
}

.footer-sitemap ul {
    margin: 0px;
    padding: 0px;
}

.footer-sitemap ul li {
    list-style-type: none;
}

.footer-sitemap ul li h2 {
    font-size: 21px;
}

.footer-sitemap ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-sitemap .footer-sitemap-branch {
    display: inline-table;
    margin: 0px 0px 0px 50px;
    text-align: left;
}

.footer-sitemap .footer-sitemap-branch:first-child {
    margin: 0px;
}

.footer-phone {
    font-size: 46px;
    padding: 0px 0px 0px 50px;
}

.footer-phone-1 {
    background: url(./assets/images/phone-icon.png) no-repeat;
    background-size: auto 70%;
    background-position: 0 center;
}

.footer-phone-2 {
    background: url(./assets/images/wts-icon.png) no-repeat;
    background-size: auto 70%;
    background-position: 0 center;
}

.phone-icon {
    height: 40px;
}

.wts-icon {
    height: 49px;
}

.footer-under-phone-txt {
    font-size: 23px;
}

.copyright-div {
    border-top: 1px solid #000;
}

.main-banner {
    border-bottom: 16px solid #00a7e1;
}

.home .main-banner {
    border: none;
}

.main-banner .banner-title {
    font-size: 35px;
    color: #fff;
}

.banner-title.blue {
    color: #0033a1;
}

.blue-title {
    color: #0033a1;
    font-size: 30px;
    line-height: normal;
}

.apply-form-title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
}

.content-txt {
    font-size: 24px;
    text-align: justify;
}

.white {
    color: #fff;
}

.five-points-top-div {
    background: #00a7e1;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

.top-menu-submenu {
    display: none;
    position: absolute;
    top: 30px;
    width: max-content;
    z-index: 100;
    padding: 0;
    background: #ffffffeb;
    padding: 7px 17px;
    border: 1px solid #f3ecde;
    border-radius: 9px;
}

.top-menu-submenu li {
    /* position: absolute; */
    display: block;
    margin: 0;
}

.top-menu-submenu li a {
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
}

.top-menu-submenu li a:hover {
    text-decoration: underline;
}

.page-ehkd .ehkd-img {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.light-blue-gradient-div {
    display: table;
    /* height: 380px; */
    background: url(./assets/images/light-blue-gradient.png) repeat-y;
    background-size: 100% 100%;
    width: 100%;
}

.light-blue-inner-content {
    display: block;
    border: 4px solid #00a7e1;
    width: 300px;
    /* height: 300px; */
    margin: 60px auto;
    padding: 0 0 20px 0;
}

.light-blue-inner-content .bold-title {
    font-weight: bold;
    color: #0033a1;
    font-size: 24px;
    background: #eef7fb;
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 0 15px;
}

.light-blue-gradient-div .apply-btn {
    background: #00a7e1;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    display: inline-block;
}

.light-blue-gradient-div .apply-btn:hover {
    color: #fff;
}

.light-blue-inner-content .txt {
    line-height: 31px;
    font-size: 17px;
    display: table;
    width: 100%;
    margin: -11px 0 0 0;
}

.big-point-ul {
    padding: 0 0 0 50px;
}

.big-point-ul li {
    list-style-type: none;
    font-size: 33px;
    color: #00a7e1;
    padding: 10px 0 10px 44px;
    background: url(./assets/images/tick-checkbox.png) no-repeat;
    background-size: auto 58%;
    background-position: 0 center;
}

.blue-title .big {
    font-size: 45px;
    font-weight: bold;
    padding: 0 5px;
    line-height: 60px;
}

.big-light-blue {
    font-size: 33px;
    color: #00a7e1;
}

.mortgage-loan-light-blue-inner-div {
    margin: 30px auto;
}

.purple-gradient-div {
    display: table;
    /* height: 380px; */
    background: url(./assets/images/purple-gradient.jpg) repeat-y;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

#calculator,
#apply-form {
    background: url(./assets/images/green-gradient.jpg) repeat-x;
    padding: 70px 0 70px 0;
    position: relative;
}

#apply-form {
    max-width: 370px;
}

.cal-img {
    position: absolute;
    width: 250px;
    top: -75px;
    right: -90px;
}