#main a {
    text-decoration: none;
}

#main p {
    margin: 0 !important;
    padding: 0 !important;
}

.ehkd-logo {
    height: 62px;
}

.top-menu {
    display: inline-block;
    float: right;
    margin: 39px 0px 0px;
}

.top-menu li {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    position: relative;
}

.top-menu li a {
    color: rgb(0, 51, 161);
    font-size: 18px;
    text-decoration: none;
    padding: 49px 0;
}

a.menu-products-a.level-1 {
    padding: 10px 0 20px 0;
}

.lang-div {
    font-size: 24px;
}

.top-div {
    display: block;
    height: 112px;
    vertical-align: middle;
    width: 100%;
}

.ehkd-logo-a {
    float: left;
    margin: 24px 0px 0px;
}

.lang-div {
    display: inline-block;
    background: rgb(0, 51, 161);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 0px 17px 3px;
    font-size: 21px;
}

.lang-div .sep {
    padding: 0 8px;
    font-size: 16px;
}

.lang-div a {
    color: rgb(255, 255, 255) !important;
    font-size: 15px !important;
}

.site {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
}

.main-banner {
    display: block;
    width: 100%;
    position: relative;
}

.main-banner img {
    width: 100%;
}

.main-banner img.home-banner-innner-img {
    width: 700px;
}

.home-main-banner-inner-div {}

.inner-msg-div-outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.inner-msg-div {}

.inner-msg-div-inner-div {
    display: table-cell;
    opacity: 0;
    vertical-align: middle;
}

.apply-now-btn {
    background: rgb(0, 167, 225);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    padding: 10px 20px;
}

.apply-now-btn:hover {
    color: rgb(255, 255, 255);
}

.large-point-icon {
    width: 250px;
    margin: 0px auto;
    display: table;
    position: relative;
    left: 15px;
}

.large-point-txt {
    color: rgb(0, 51, 161);
    font-size: 22px;
    line-height: 32px;
}

.large-point-txt .big {
    font-size: 30px;
    font-weight: bold;
}

.large-point-txt .small {
    font-size: 16px;
    display: block;
}

.rect-img {
    width: 100%;
}

.rect-img-txt {
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(0, 167, 225);
    font-size: 20px;
    padding: 14px;
}

.footer-lightblue-title {
    color: rgb(0, 167, 225);
    font-size: 28px;
    line-height: normal;
    font-weight: bold;
}

.footer-apply-btn-above-txt {
    font-size: 19px;
}

.footer-apply-btn {
    display: inline-block;
    background: rgb(0, 51, 161);
    color: #fff;
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 22px;
    text-decoration: none;
}

.footer-apply-btn:hover {
    color: #fff;
}

.footer-sitemap {
    text-align: right;
    width: auto;
    float: right;
}

.footer-sitemap ul {
    margin: 0px;
    padding: 0px;
}

.footer-sitemap ul li {
    list-style-type: none;
    font-size: 16px;
}

.footer-sitemap ul li h2 {
    font-size: 21px;
}

.footer-sitemap ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-sitemap .footer-sitemap-branch {
    display: inline-table;
    margin: 0px 0px 0px 50px;
    text-align: left;
}

.footer-sitemap .footer-sitemap-branch:first-child {
    margin: 0px;
}

.footer-phone {
    font-size: 46px;
    padding: 0px 0px 0px 50px;
}

.footer-phone-1 {
    background: url(./assets/images/phone-icon.png) no-repeat;
    background-size: auto 70%;
    background-position: 0 center;
}

.footer-phone-2 {
    background: url(./assets/images/wts-icon.png) no-repeat;
    background-size: auto 70%;
    background-position: 0 center;
}

.phone-icon {
    height: 40px;
}

.wts-icon {
    height: 49px;
}

.footer-under-phone-txt {
    font-size: 23px;
}

.copyright-div {
    border-top: 1px solid #000;
    font-size: 14px;
}

.main-banner {
    border-bottom: 16px solid #00a7e1;
}

.home .main-banner {
    border: none;
}

.main-banner .banner-title {
    font-size: 35px;
    color: #fff;
}

.banner-title.blue {
    color: #0033a1;
}

.blue-title {
    color: #0033a1;
    font-size: 30px;
    line-height: normal;
}

.apply-form-title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
}

.content-txt {
    font-size: 24px;
    text-align: justify;
}

.white {
    color: #fff;
}

.five-points-top-div {
    background: #00a7e1;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

.top-menu-submenu {
    display: none;
    position: absolute;
    top: 30px;
    width: max-content;
    z-index: 100;
    padding: 0;
    background: #ffffffeb;
    padding: 7px 17px;
    border: 1px solid #f3ecde;
    border-radius: 9px;
}

.top-menu-submenu li {
    /* position: absolute; */
    display: block;
    margin: 0;
}

.top-menu-submenu li a {
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    transition: 0.2s all;
}

.page-ehkd .ehkd-img {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.light-blue-gradient-div {
    display: table;
    /* height: 380px; */
    background: url(./assets/images/light-blue-gradient.png) repeat-y;
    background-size: 100% 100%;
    width: 100%;
}

.light-blue-inner-content {
    display: block;
    border: 4px solid #00a7e1;
    width: 300px;
    /* height: 300px; */
    margin: 60px auto;
    padding: 0 0 20px 0;
}

.light-blue-inner-content .bold-title {
    font-weight: bold;
    color: #0033a1;
    font-size: 24px;
    background: #eef7fb;
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 0 15px;
}

.light-blue-gradient-div .apply-btn {
    background: #00a7e1;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 20px;
    margin: 10px 0 0 0;
    display: inline-block;
}

.light-blue-gradient-div .apply-btn:hover {
    color: #fff;
}

.light-blue-inner-content .txt {
    line-height: 31px;
    font-size: 17px;
    display: table;
    width: 100%;
    margin: -11px 0 0 0;
}

.big-point-ul {
    padding: 0 0 0 50px;
}

.big-point-ul li {
    list-style-type: none;
    font-size: 33px;
    color: #00a7e1;
    padding: 10px 0 10px 44px;
    background: url(./assets/images/tick-checkbox.png) no-repeat;
    background-size: auto 58%;
    background-position: 0 center;
}

.blue-title .big {
    font-size: 45px;
    font-weight: bold;
    padding: 0 5px;
    line-height: 60px;
}

.big-light-blue {
    font-size: 33px;
    color: #00a7e1;
}

.mortgage-loan-light-blue-inner-div {
    margin: 30px auto;
}

.purple-gradient-div {
    display: table;
    /* height: 380px; */
    background: url(./assets/images/purple-gradient.jpg) repeat-y;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

#calculator,
#apply-form {
    background: url(./assets/images/green-gradient.jpg) repeat-x;
    padding: 70px 0 70px 0;
    position: relative;
}

#apply-form {
    /* max-width: 370px; */
}

.cal-img {
    position: absolute;
    width: 250px;
    top: -75px;
    right: -90px;
}

.apply-form-container {
    max-width: 850px !important;
}

.apply-form-container label {
    font-size: 20px;
    color: #fff;
    display: block;
}

.apply-form-container input,
.apply-form-container select {
    height: 40px;
    font-size: 18px;
    border: none;
    width: 100%;
    color: #6c757d;
    padding: 0 10px;
}

.apply-form-container input[type='checkbox'] {
    height: 20px;
    width: 20px;
    border: none;
}

.terms-txt {
    color: #616161;
    font-size: 14px;
}

#apply-form .submit-btn {
    background: #0033a1;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 40px;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em !important;
}

.blue-subtitle {
    color: #0033a1;
    font-size: 22px;
}

.contact-form-container {
    font-size: 20px;
    max-width: 1000px !important;
}

.contact-form-container-heading {
    border-bottom: 4px solid #00a7e1;
}

.contact-form-container-heading td {
    padding: 0 0 10px 0;
}

#map {
    width: 100%;
    height: 700px;
}

#agree-label {
    color: #636363;
    font-size: 15px;
    font-weight: normal;
}

.top-menu li a.level-1 {
    transition: 0.2s all;
}

.top-menu li a.level-1.active {
    color: #00a7e1;
}

.top-menu li a.level-1:hover {
    color: #00a7e1;
}

.top-menu-submenu li a:hover {
    color: #00a7e1;
    /* text-decoration: underline !important; */
}

@media only screen and (max-width: 1920px) {
    .inner-msg-div-inner-div {
        width: 700px;
        height: 650px !important;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
    } */
}

@media only screen and (max-width: 1200px) {
    .top-menu {
        display: none;
    }
    .inner-msg-div-inner-div {
        width: 600px;
        height: 550px !important;
    }
    .footer-apply-btn-above-txt {
        font-size: 18px;
    }
    .footer-lightblue-title {
        font-size: 24px;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
        font
    } */
    .footer-sitemap {
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .inner-msg-div-inner-div {
        width: 500px;
        height: 450px !important;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
    } */
}

@media only screen and (max-width: 991px) {
    #calculator {
        margin: 0 20px;
    }
    .big-light-blue {
        font-size: 24px;
        color: #00a7e1;
        padding: 0 10px;
    }
    .big-point-ul {
        padding: 0 0 0 30px;
    }
    .big-point-ul li {
        list-style-type: none;
        font-size: 20px;
        color: #00a7e1;
        padding: 10px 0 10px 40px;
        background: url(./assets/images/tick-checkbox.png) no-repeat;
        background-size: auto 58%;
        background-position: 0 center;
    }
    .content-txt {
        font-size: 20px;
        padding: 0 20px;
    }
    .main-banner .banner-title {
        font-size: 25px;
    }
    .inner-msg-div-inner-div {
        width: 400px;
        height: 350px !important;
    }
    .footer-sitemap-branch.license {
        margin: 20px 0 0 0;
        display: block;
        text-align: center;
    }
    .footer-lightblue-title {
        text-align: center;
    }
    .footer-apply-btn {
        display: table;
        background: rgb(0, 51, 161);
        color: #fff;
        padding: 7px 20px;
        margin: 0 auto;
        border-radius: 6px;
        font-size: 19px;
        text-decoration: none;
    }
    .apply-now-btn {
        background: rgb(0, 167, 225);
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
        padding: 10px 20px;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
    } */
    .footer-apply-btn-above-txt {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 768px) {
    .inner-msg-div-inner-div {
        width: 300px;
        height: 250px !important;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
    } */
}

@media only screen and (max-width: 640px) {
    .inner-msg-div-inner-div {
        width: 250px;
        height: 200px !important;
    }
    /* .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 0px 0px 0px 10px;
        text-align: left;
    } */
}

@media only screen and (max-width: 480px) {
    .footer-phone {
        font-size: 34px;
        padding: 0px 0px 0px 36px;
    }
    .footer-under-phone-txt {
        font-size: 20px;
    }
    .inner-msg-div-inner-div {
        width: 230px;
        height: 180px !important;
    }
    .footer-sitemap ul li {
        list-style-type: none;
        font-size: 15px;
    }
    .footer-sitemap .footer-sitemap-branch {
        display: inline-table;
        margin: 20px 0px 0px 23px;
        text-align: left;
    }
    .footer-sitemap .footer-sitemap-branch.license {
        display: inline-table;
        margin: 30px 0px 0px 23px;
        text-align: left;
    }
    .footer-sitemap ul li h2 {
        font-size: 18px;
    }
}